* {
  padding: 0px;
  margin: 0px;
}

.contai_head {
  display: flex;
  justify-content: space-between;
}

.contai_button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contai_like {
  padding: 10px;
  margin: 10px;
  border: 3px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 80px;
}

#contai_like button {
  border: 3px solid black;
  border-radius: 3px;
  width: 40px;
  height: 25px;
  background-color: rgb(210, 210, 8);
  box-shadow: 3px 3px 5px black;
}
